{% extends "base.html" %}  

{% block content %}  
<div class="container mx-auto py-8 px-4">
    <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-bold text-teal-600 mb-4">خانواده: {{ person.family }} </h2>  
        <p class="mb-2"><strong>اسم:</strong> {{ person.first_name }} {{ person.last_name }}</p>  
        <p class="mb-2"><strong>نام پدر:</strong> {{ person.father_name }}</p>  
        <p class="mb-2"><strong>تاریخ تولد:</strong> {{ person.birth_date }}</p>  
        <p class="mb-2"><strong>یتیم بودن:</strong>{{ person.is_orphan }}</p>  
        <div class="mt-6 flex space-x-4">
            <a href="{% url 'person_edit' person.family.id person.id %}" class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 vazir-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">ویرایش </a>  
            <a href="{% url 'person_list' person.family.id %}" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 vazir-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">برگشت به لیست </a>  
        </div>
    </div>
</div>
{% endblock %} 