<aside class="w-1/4 bg-gray-100 p-4 no-print bg-gray-800">  
    <h2 class="text-xl font-semibold text-white vazir-medium">پنل مدیریت</h2>  
    <ul class="mt-4">  
        <li class="mb-2"><i class="fa fa-home text-white" aria-hidden="true"></i><a href="{% url "index" %}" class="text-white hover:underline vazir-normal">صفحه اصلی</a></li>
        <li class="mb-2"><i class="fa fa-address-card text-white" aria-hidden="true"></i><a href="{% url "family_list" %}" class="text-white hover:underline vazir-normal">مدیریت خانواده ها</a></li>  
        <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Link 2</a></li>  
        <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Link 3</a></li>  
        <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Link 4</a></li>  
    </ul>  
</aside>
<dv>