{% extends "base.html" %}  

{% block content %}  
<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto py-8 px-4">
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-bold text-red-600 mb-6 text-center vazir-semibold">آیا از غیر فعال سازی این توزع بسته اطمینان دارید؟</h2>
            <div class="text-center mb-6">
                <h3 class="text-xl text-gray-800 vazir-medium">اسم بسته: {{ package_share.package.name }}</h3>
                <h3 class="text-xl text-gray-800 vazir-medium">خانواده: {{ package_share.family }}</h3>
            </div>
            <form method="post" class="space-y-4 text-center">
                {% csrf_token %}
                <button type="submit" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg rounded-lg px-5 py-2.5 vazir-medium">
                    بله، اطمینان دارم
                </button>
                <a href="{% url 'packageshare_list' %}">
                    <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 shadow-lg rounded-lg px-5 py-2.5 vazir-medium">
                        انصراف
                    </button>
                </a>
            </form>
        </div>
    </div>
</body>
{% endblock %} 
